---
import IconGithubDark from "../Icon/IconGithubDark.astro";
import IconUpWork from "../Icon/IconUpWork.astro";
import IconLinkedIn from "../Icon/IconLinkedIn.astro";
---

<section
  class="mb-8 flex justify-end gap-x-2 align-baseline border-b-2 border-blue pb-8"
>
  <IconGithubDark />
  <span>|</span>
  <IconUpWork />
  <span>|</span>
  <IconLinkedIn />
</section>
