---
import LinkedInIcon from "../../assets/icons/linkedin-icon.png";
---

<a
  href="https://www.linkedin.com/company/elanode"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src={LinkedInIcon} alt="linkedin icon" width="32" />
</a>
