---
import GitHubDarkIcon from "../../assets/icons/GitHub-Mark-64px.png";
---

<a
  href="http://github.com/elanode/elanode-blog"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src={GitHubDarkIcon} alt="github icon" width="32" />
</a>
