---
import UpWorkIcon from "../../assets/icons/upwork-icon.png";
---

<a
  href="https://www.upwork.com/agencies/~01cf75f607d164f17b"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src={UpWorkIcon} alt="upwork icon" width="32" />
</a>
