---
import elanodeLogoBlue from "../assets/images/Elanode-logo-blue.png";
---

<header class="wrapper">
  <article>
    <h1>
      <a href="/">
        <img src={elanodeLogoBlue} alt="elanode logo blue" width="175" />
      </a>
    </h1>
  </article>
</header>

<style>
  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 7rem;
  }
  article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1rem;
  }
  h1 {
    margin: 0;
    font-size: 1.5rem;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
  }

  h1 a {
    text-decoration: none;
    display: inline-flex;
  }
</style>
